<section class="section-customers">
    <div class="container customers">
       <div class="title-block"> 
            <h2 class="customers-title">What our Customers Say</h2>
            <p class="customers-aftertitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p class="customers-aftertitle-tab">Don't just take our word for it - see what our satisfied customers have to say</p>
        </div>
        <ul class="customers-ul">
            <li class="customers-cart">
                <ul class="stars">
                    <li> 
                        <svg class="socials-pic" width="16" height="16">
                            <use href="./img/icons.svg#icon-star"></use>
                          </svg>
                    </li>
                    <li>
                        <svg class="socials-pic" width="16" height="16">
                            <use href="./img/icons.svg#icon-star"></use>
                          </svg>
                    </li>
                    <li>
                        <img src="./img/customers/star.svg" alt="star">
                    </li>
                    <li>
                        <img src="./img/customers/star.svg" alt="star">
                    </li>
                    <li>
                        <img src="./img/customers/star.svg" alt="star">
                    </li>
                </ul>
                <p class="customers-article">“The Best app I have used to order food in a while, so many options to choose from too, I would recommend to a freind, No questions asked”</p>
                <div class="customer">
                    <img class="customer-foto" src="../img/customers/customer1-2x.jpg" width="48" height="48" alt="customer">
                    <ul class="customer-text">
                        <li><p class="customer-name"> Sumith Shah</p></li>
                        <li><p class="customer-name">Some Dude</p></li>
                    </ul>
            </li>
            <li class="customers-cart">
                <ul class="stars">
                    <li> 
                        <svg class="socials-pic" width="16" height="16">
                            <use href="./img/icons.svg#icon-star"></use>
                          </svg>
                       
                    </li>
                    <li>
                        <svg class="socials-pic" width="16" height="16">
                            <use href="./img/icons.svg#icon-star"></use>
                          </svg>
                    </li>
                    <li>
                        <svg class="socials-pic" width="16" height="16">
                            <use href="./img/icons.svg#icon-star"></use>
                          </svg>
                    </li>
                    <li>
                        <img src="./img/customers/star.svg" alt="star">
                    </li>
                    <li>
                        <img src="./img/customers/star.svg" alt="star">
                    </li>
                </ul>
                <p class="customers-article">“The ease with which I can just go in and order what i want was amazing, It has been a very pleasant experience ordering from this app”</p>
                <div class="customer">
                    <img class="customer-foto" src="../img/customers/customer2.jpg" width="48" height="48" alt="customer2">
                    <ul class="customer-text">
                        <li><p class="customer-name"> Sumith Shah</p></li>
                        <li><p class="customer-dude">Some Dude</p></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>
