<section class="section-favorites section">
    <div class="container-favorites container">
        <h2 class="title-favorites title">Some of Our Favorites</h2>
        <p class="favorites-text">Looking for something delicious?</p>
        <ul class="favorites-list list">
            <li class="favorites-item">
                <div class="favorites-wrap">
                    <img class="favorites-img"
                    srcset="
                    ../img/favorites/mobil/gamburger_224.webp 224w,
                    ../img/favorites/mobil/gamburger_448.webp 448w,
                    ../img/favorites/tablet/gamburger_268.webp 268w,
                    ../img/favorites/tablet/gamburger@2x.webp 536w,
                    ../img/favorites/desktop/gamburger@1x.webp 315w,
                    ../img/favorites/desktop/gamburger@2x.webp 630w
                    "
                    sizes="(min-width: 1200px) 224px,
                                  (min-width: 376px) 268px, 100vw"
                    src="../img/favorites/mobil/gamburger_224.webp"
                    alt="gamburger"
                    weigth="224">
                </div>
            </li>
            <li class="favorites-item">
                <div class="favorites-wrap">
                    <img class="favorites-img"
                    srcset="
                    ../img/favorites/mobil/Pasta_224.webp 224w,
                    ../img/favorites/mobil/Pasta_448.webp 448w,
                    ../img/favorites/tablet/Pasta_268.webp 268w,
                    ../img/favorites/tablet/Pasta@2x.webp 536w,
                    ../img/favorites/desktop/Pasta@1x.webp 315w,
                    ../img/favorites/desktop/Pasta@2x.webp 630w
                    "
                    sizes="(min-width: 1200px) 224px,
                                  (min-width: 376px) 268px, 100vw"
                    src="../img/favorites/mobil/Pasta_224.webp"
                    alt="Pasta"
                    weigth="224">
                </div>
            </li>
            <li class="favorites-item">
                <div class="favorites-wrap">
                    <img class="favorites-img"
                    srcset="
                    ../img/favorites/mobil/pizza_224.webp 224w,
                    ../img/favorites/mobil/pizza_448.webp 448w,
                    ../img/favorites/tablet/pizza_268.webp 268w,
                    ../img/favorites/tablet/pizza@2x.webp 536w,
                    ../img/favorites/desktop/pizza@1x.webp 315w,
                    ../img/favorites/desktop/pizza@2x.webp 630w
                    "
                    sizes="(min-width: 1200px) 224px,
                                  (min-width: 376px) 268px, 100vw"
                    src="../img/favorites/mobil/pizza_224.webp"
                    alt="pizza"
                    weigth="224">
                </div>
            </li>
            <li class="favorites-item">
                <div class="favorites-wrap">
                    <img class="favorites-img"
                    srcset="
                    ../img/favorites/tablet/chicken_268.webp 268w,
                    ../img/favorites/tablet/chicken@2x.webp 536w,
                    ../img/favorites/desktop/chicken@1x.webp 315w,
                    ../img/favorites/desktop/chicken@2x.webp 630w
                    "
                    sizes="(min-width: 1200px) 224px,
                                  (min-width: 376px) 268px, 100vw"
                    src="../img/favorites/tablet/chicken_268.webp"
                    alt="chicken"
                    weigth="224">
                </div>
            </li>
            <li class="favorites-item">
                <div class="favorites-wrap">
                    <img class="favorites-img"
                    srcset="
                    ../img/favorites/tablet/salat_268.webp 268w,
                    ../img/favorites/tablet/salat@2x.webp 536w,
                    ../img/favorites/desktop/salat@1x.webp 315w,
                    ../img/favorites/desktop/salat@2x.webp 630w
                    "
                    sizes="(min-width: 1200px) 224px,
                                  (min-width: 376px) 268px, 100vw"
                    src="../img/favorites/tablet/salat_268.webp"
                    alt="salat"
                    weigth="224">
                </div>
            </li>
            <li class="favorites-item">
                <div class="favorites-wrap">
                    <img class="favorites-img"
                    srcset="
                    ../img/favorites/tablet/borshch_268.webp 268w,
                    ../img/favorites/tablet/borshch@2x.webp 536w,
                    ../img/favorites/desktop/borshch@1x.webp 315w,
                    ../img/favorites/desktop/borshch@2x.webp 630w
                    "
                    sizes="(min-width: 1200px) 224px,
                                  (min-width: 376px) 268px, 100vw"
                    src="../img/favorites/tablet/borshch_268.webp"
                    alt="borshch"
                    weigth="224">
                </div>
            </li>

        </ul>


    </div>
</section>
