<header class="header">
    <div class=" container header-container">
    <nav class="nav-header">  
     <svg class="logo-icon">
     <use href="./"></use>
     </svg>
      


    
    <ul class="list nav-list">
     <li class="nav-item">
     <a href="#home" class="nav-link">Home</a>
     </li>
     <li class="nav-item">
     <a href="#about" class="nav-link">About</a>
     </li>
     <li class="nav-item">
     <a href="#service" class="nav-link">Service</a>
     </li>
     <li class="nav-item">
     <a href="#menu" class="nav-link">Menu</a>
     </li>
     <li class="nav-item">
     <a href="#contact" class="nav-link">Contact</a>
     </li>
     </ul>
     </nav>

      
     <button class="" type="button">Order Now</button>


     <svg class="">
     <use href="./"></use>
     </svg>
    </button>
    </div>
  </header>