<header class="header">
    <div class="container header-container">
    <nav class="nav-header">
    <a class="" href="../index.html"> 
      <svg class="logo-icon" width="66" height="52">
      <use href="..//img/icons.svg#food-sta"></use>
      </svg>
      </a>
      
 
    <ul class="menu-list">
      <li class="menu-item">
      <a href="#home" class="menu-link">Home</a>
      </li>
      <li class="menu-item">
      <a href="#about" class="menu-link">About</a>
      </li>
      <li class="menu-item">
      <a href="#service" class="menu-link">Service</a>
      </li>
      <li class="menu-item">
      <a href="#menu" class="menu-link">Menu</a>
      </li>
      <li class="menu-item">
      <a href="#contact" class="menu-link">Contact</a>
      </li>
      </ul>
      </nav>
     
      
      <button type="button" class="data-modal-open">Order Now</button>
      <button type="" class ="mobile-menu-open js-open-menu">
      <svg class="mobile-menu-open-icon" width="28" height="28">
      <use href="/src/img/icons.svg#icon-leib2"></use>
      </svg>
    </button>
    </div>
 
    <!-- MOBILE MENU -->
    <div class="mobile-menu js-menu-container">
    <div class="mobile-menu-container">
      <button class="modal-close-btn js-close-menu hidden">
      <svg class="mobile-menu-close-icon">
      <use href="/src/img/icons.svg#close-button"></use>
      </svg>
      </button>
      <ul class="mobile-menu-list">
      <li class="mobile-menu-item">
      <a class="link mobile-menu-link menu-link js-close-menu" href="#home">Home</a>  
      </li>
      <li class="mobile-menu-item">
      <a class="mobile-menu-link menu-link js-close-menu" href="#about">About</a>         
      </li>
      <li class="mobile-menu-item">
      <a class="mobile-menu-link menu-link js-close-menu" href="#service">Service</a>
      </li>
      <li class="mobile-menu-item">
      <a class="mobile-menu-link menu-link js-close-menu" href="#menu">Menu</a>    
      </li>
      <li class="mobile-menu-item">
      <a class="mobile-menu-link menu-link js-close-menu" href="#contact">Contact</a>     
      </li>
      </ul>
    </div>
    </div>
</header>