<section class="section hero-section">
  <div class="container hero-container">
    <div class="text-thumb">
      <h1 class="title">Enjoy your favorite food from anywhere</h1>
      <p class="section-text">
        With just a few clicks, you can have your favorite meals delivered
        straight to your doorstep, no matter where you are. Order now and enjoy
        a hassle-free and delicious meal from the comfort of your own home.
      </p>
    </div>
    <button class="button hero-button" type="button">Order Now</button>
    <div class="img-thumb">
      <ul>
        <li>
          <img
            class="img-dish"
            srcset="
              img/hero/img-1-292.webp   292w,
              img/hero/img-1-528.webp   528w,
              img/hero/img-1-584.webp   584w,
              img/hero/img-1-1056.webp 1056w
            "
            sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px, 100vw"
            src="img/hero/img-1-528.webp"
            alt="hummus with omelette"
            width="528"
            height="528"
            loading="lazy"
          />
        </li>
        <li class="">
          <img
            class="img-dish"
            srcset="
              img/hero/img-2-292.webp   292w,
              img/hero/img-2-528.webp   528w,
              img/hero/img-2-584.webp   584w,
              img/hero/img-2-1056.webp 1056w
            "
            sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px, 100vw"
            src="img/hero/img-2-528.webp"
            alt="vegetable salad"
            width="528"
            height="528"
            loading="lazy"
          />
        </li>
        <li class="">
          <img
            class="img-dish"
            srcset="
              img/hero/img-3-292.webp   292w,
              img/hero/img-3-528.webp   528w,
              img/hero/img-3-584.webp   584w,
              img/hero/img-3-1056.webp 1056w
            "
            sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px, 100vw"
            src="img/hero/img-3-528.webp"
            alt="vegetables with egg"
            width="528"
            height="528"
            loading="lazy"
          />
        </li>
      </ul>
      <ul class="list list-btn-nav">
        <li>
          <button type="button" class="button-nav">
            <svg class="icon-nav" width="11" height="20">
              <use href="img/icons.svg#ep_arrow-left"></use>
            </svg>
          </button>
        </li>
        <li>
          <button type="button" class="button-nav">
            <svg class="icon-nav" width="11" height="20">
              <use href="img/icons.svg#ep_arrow-right"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
