<section class="container">
  <div class="subscribe-section">
    <img srcset=" img/subscribe/banana_161.webp 161w,
    img/subscribe/banana_281.webp 281w, img/subscribe/banana_322.webp 322w,
    img/subscribe/banana_546.webp 546w, img/subscribe/banana_562.webp 562w,
    img/subscribe/banana_1092.webp 1092w, img/subscribe/banana_161.png 161w,
    img/subscribe/banana_281.png 281w, img/subscribe/banana_322.png 322w,
    img/subscribe/banana_546.png 546w, img/subscribe/banana_562.png 562w,
    img/subscribe/banana_1092.png 1092w " sizes=" "(min-width: 1280px) 546px,
    (min-width: 768px) 281px, (min-width: 320px) 161px, 100vw"
    src="img/subscribe/banana_161.webp" alt="banana" width="161px" height="78px"
    />
    <form action="">
      <h2>Subscribe To Get Special Offers</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>
      <label for="">
        <input type="email" placeholder="Enter your email" />
      </label>
      <button type="submit">Subscribe</button>
    </form>
  </div>
</section>
