<section class="container">
  <div class="subscribe-section">
    <img
      class="subscribe-img"
      srcset="
        img/subscribe/banana_161.webp   161w,
        img/subscribe/banana_281.webp   281w,
        img/subscribe/banana_322.webp   322w,
        img/subscribe/banana_546.webp   546w,
        img/subscribe/banana_562.webp   562w,
        img/subscribe/banana_1092.webp 1092w,
        img/subscribe/banana_161.png    161w,
        img/subscribe/banana_281.png    281w,
        img/subscribe/banana_322.png    322w,
        img/subscribe/banana_546.png    546w,
        img/subscribe/banana_562.png    562w,
        img/subscribe/banana_1092.png  1092w
      "
      sizes="(min-width: 1280px) 546px, (min-width: 768px) 281px, (min-width: 320px) 161px, 100vw"
      src="img/subscribe/banana_161.webp"
      alt="banana"
      width="546"
      height="266"
    />

    <div class="subscribe-info">
      <h2 class="subscribe-title">Subscribe To Get Special Offers</h2>
      <p class="subscribe-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>
    </div>
    <form class="subscribe-form" name="subscribe">
        <div class="subscribe-form-wrapper">
      <input
        class="subscribe-input"
        type="email"
        name="user_email"
        placeholder="Enter your email"
      />
      <button class="subscribe-btn" type="submit">Subscribe</button>
    </form>
</div>
  </div>
</section>
