.header-container {
   display: flex;
   align-items: center; 
   justify-content: space-between; 
   border: none;   
 }
 .logo-icon {
   padding-top: 10px;  
   padding-bottom: 10px;
 }
 
.menu-list {
   display: none;  
 }
 
.data-modal-open {
   display: none;  
 }
 
 
 
