.header-container {
   display: flex;
   align-items: center; 
   justify-content: space-between;   
 }

.logo-icon {
   padding-top: 10px;  
   padding-bottom: 10px;
}
 
.mobile-menu-open {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0;
   border: none;
   background-color: transparent;
}
  
.menu-list {
   display: none;  
}
 
.data-modal-open {
   display: none;  
}
 
 
 
